@charset "utf-8";
/* CSS Document */
.navbar-inverse {
    background-color: white;
    border-color: blue;
}
.navbar-nav >li > a{
  color:beige;
}
.navbar-nav > li > .dropdown-menu{
  background: black;
}
.navbar-brand img{
  height:100%; 
}
.navbar-brand {
  padding: 0px 15px;
}
.navbar-inverse .navbar-nav > li > a{
  color :black;
  transition: all 0.5s;
}
.navbar-inverse .navbar-nav > li > a:hover{
  background: azure;
  transition: all 0.5s;
  color: black;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    width: 100%;
    height: 600px;
}

.form {
  float: right;
  padding: 18px;
}
.transparent {
   background:rgba(2, 2, 2, 0.5);
 color:#fff;  
}


#box1 {
  height: 120vh;
  width: 100%;
  background-image: url(yogyakarta.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: table;
}
#box1 h1 {
  background-position: center;
  background-size: cover;
  font-family: monospace;
  font-size: 45px;
  color: WHITE;
  margin: 0px;
  text-align: center;
  width: 100%;
  vertical-align: top;
}
#box1 .h1:hover{
  color: #BLACK;
}

#box2 {
  height: 100vh;
  width: 100%;
  background-image: url(image/capt.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: table;
}

#box3 {
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
  background-size: cover;
  background-attachment: fixed;
  display: table;
}

#box4 {
  height: 100vh;
  width: 100%;
  background-image: url(12.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: table;
}


#satu{

  background:rgba(2, 2, 2, 0.5);
  text-align: center;
  font-size: 35px;
  font-family: Orator STD;
  color: black;
  padding: 25px;
  height: 500px;
  
}

#dua{
  height:120px;
  background-color:#333;
  text-align: center;
  font-size: 35px;
  font-family: Square721 Cn BT;
  color: white;
  padding: 25px;
  background-image: 

}

#tiga{
  height:auto;
  background-color:#333;
  text-align: center;
  font-size: 25px;
  font-family: Trebuchet MS;
  color: white;
  padding: 20px;
}
#boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.box{
  text-align: center;
}
.box button{
  width: 100px;
  height: 80px;
  font-size: 20px;
}
.box button:hover{
  transform: scale(1.1);
}
.box img{
  border-radius: 10px;
  width: 300px;
  height: 200px;

}
.box img:hover{
  transform: scale(1.1);
}

#options img{
  width: 100%;
  object-fit: cover;
  height: 200px;
}

#options, #features{
  padding: 10px 0;
}

#options a{
  text-decoration: none;
  display: block;
  width: 150px;
  padding: 10px 0;
  background-color: #ff715b;
  text-align: center;
  color: white;
  margin: 10px auto 0 auto;
}

#empat{
  height:20px;
  background-color:#333;
  text-align: center;
  font-size: 20px;
  font-family: Square721 Cn BT;
  color: white;
  padding: 20px 0;
}
#lima{
  height:20px;
  background-color:#333;
  text-align: center;
  font-size: 20px;
  font-family: Square721 Cn BT;
  color: white;
  padding: 20px 0;
}

footer{
  padding: 15px 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Tekton Pro;
}
.team-wrapper {
  background-image: url(image/4.jpg); 
position: relative;
transition: all 0.2s ease;
margin-bottom:50px;
margin-top: 50px;
padding: 30px;
margin-right: 25px;
border-radius: 10px;
}
.team-wrapper:hover {
transform: scale(1.1);
}
.team-wrapper .team-inner {
background-size: cover;
background-position: center;
padding: 150px 0 10px;
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
border-radius: 10px 10px 10px 10px;
}

.team-wrapper .description {
padding: 30px 20px 20px;
font-size: 15px;
text-align: center;
border-bottom: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}
.team-wrapper .description h5 {
color: blue;
}

table{
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
    padding-left: 20px;
    text-align: center;
}
.table1 tr td{
    text-align: center;
    padding-left: 20px;
}

.table1, th, td {
    padding: 20px;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

#contact .contact-wrapper {
background-color:rgba(255, 255, 255, 0.1);
padding: 20px;
border-radius: 5px;
margin-bottom: 40px;
}
#contact .contact-wrapper h3 {
color:rgb(228, 79, 79);
}
#contact .social-below {
display: block;
margin-top: 5px;
}

